@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	/* html {
    @apply overflow-x-hidden;
  } */
	body {
		@apply bg-background text-foreground;
	}
}
